root = true

[*]
indent_style = tab
end_of_line = lf

[*.org]
indent_size = 1

[*.{pl,xsession}]
indent_size = 2

[*.{sh,ksh,fizshrc}]
indent_size = 1

[*.{lisp,el,lsp,el}]
indent_style = space
indent_size = 2
