root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{sh,ksh,csh}]
indent_size = 2

[*.{pl}]
indent_size = 2

[*.{rsw}]
indent_size = 4

[*.{ml,opam}]
indent_style = tab
indent_size = 1

[*.{html,xml,js,css}]
indent_size = 4

[*{conf,ini,cfg}]
indent_size = 2

[*.{json,yml,toml}]
indent_size = 2