.local/sfx/Bottle.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Frog.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Funk.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Glass.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Morse.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Sosumi.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Submarine.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Basso.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Hero.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Ping.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Blow.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Tink.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/okdesuka.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Pop.wav filter=lfs diff=lfs merge=lfs -text
.local/sfx/Purr.wav filter=lfs diff=lfs merge=lfs -text
backgrounds/Hylics-Lobotomy.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Hylics.png filter=lfs diff=lfs merge=lfs -text
backgrounds/MetallicFoam.png filter=lfs diff=lfs merge=lfs -text
backgrounds/OSD-M.png filter=lfs diff=lfs merge=lfs -text
backgrounds/RitasCafe.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Countryside.png filter=lfs diff=lfs merge=lfs -text
backgrounds/EarthBound.png filter=lfs diff=lfs merge=lfs -text
backgrounds/BirdsEye.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Darknut.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Mars.png filter=lfs diff=lfs merge=lfs -text
backgrounds/QuantumFoam.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Threads.png filter=lfs diff=lfs merge=lfs -text
backgrounds/ASCII.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Abstractish.png filter=lfs diff=lfs merge=lfs -text
backgrounds/SageFoam.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Smirkorange.png filter=lfs diff=lfs merge=lfs -text
backgrounds/AbstractishAlternate.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Lucky38.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Ghirahim.png filter=lfs diff=lfs merge=lfs -text
backgrounds/OSD-N.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Summers.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Vindaloo.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Courier.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Dalaam.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Garden.png filter=lfs diff=lfs merge=lfs -text
backgrounds/GardenAlternate.png filter=lfs diff=lfs merge=lfs -text
backgrounds/HappyCat.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Mavericks.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Moonside.png filter=lfs diff=lfs merge=lfs -text
backgrounds/OSD-I.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Bricks.png filter=lfs diff=lfs merge=lfs -text
backgrounds/F-Zero.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Peak.png filter=lfs diff=lfs merge=lfs -text
backgrounds/PeakAlternate.png filter=lfs diff=lfs merge=lfs -text
backgrounds/RubyFoam.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Oddments.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Overlook.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Temple.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Yosemite.png filter=lfs diff=lfs merge=lfs -text
backgrounds/FlowerPower.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Mountain.png filter=lfs diff=lfs merge=lfs -text
backgrounds/SanFran.png filter=lfs diff=lfs merge=lfs -text
backgrounds/SkylineAlternate.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Smirk.png filter=lfs diff=lfs merge=lfs -text
backgrounds/HighSierra.png filter=lfs diff=lfs merge=lfs -text
backgrounds/HighlandsAlternate.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Quilt.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Sato.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Skyline.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Highlands.png filter=lfs diff=lfs merge=lfs -text
backgrounds/KingGizz.png filter=lfs diff=lfs merge=lfs -text
assets/XenoDM.png filter=lfs diff=lfs merge=lfs -text
assets/Emacs.png filter=lfs diff=lfs merge=lfs -text
assets/StumpWM.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Omnium.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Wayne.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Zant2.png filter=lfs diff=lfs merge=lfs -text
backgrounds/F-ZeroSnes.png filter=lfs diff=lfs merge=lfs -text
backgrounds/F-ZeroCasino.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Giygas.png filter=lfs diff=lfs merge=lfs -text
backgrounds/LISP.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Pigmask.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Securely.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Brothers.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Nonagon.png filter=lfs diff=lfs merge=lfs -text
backgrounds/QuartersFull.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Tiger.png filter=lfs diff=lfs merge=lfs -text
backgrounds/Zant1.png filter=lfs diff=lfs merge=lfs -text
backgrounds/F-ZeroMuteCity.png filter=lfs diff=lfs merge=lfs -text
backgrounds/HylicsChar.png filter=lfs diff=lfs merge=lfs -text
backgrounds/VomitCoffin.png filter=lfs diff=lfs merge=lfs -text
backgrounds/GizzSpace.png filter=lfs diff=lfs merge=lfs -text
backgrounds/F-ZeroX.png filter=lfs diff=lfs merge=lfs -text
