#!/bin/sh
# Set Default LOCALE
export LC_CTYPE="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
# Enable HWACCEL for Firefox
export MOZ_ACCELERATED=1
export MOZ_WEBRENDER=1
# set qt apps to use gtk2 widgets if avail
export QT_QPA_PLATFORMTHEME=gtk2
# make sdl mouse cursor lag go away
export SDL_VIDEO_X11_DGAMOUSE=0
# set XDG dirs
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_DIR=$OME/.local/share
export XDG_STATE_HOME=$HOME/.local/state
# Raise Ulimits and Disable .core dumps
ulimit -d 17000000 &
ulimit -Sc 0 &
