! xwindow stuffs
xterm*scrollBar: false
xterm*faceName: Spleen
xterm*faceSize: 12
xterm*renderFont: true
xterm*internalBorder: 16
xterm*letterSpace: 1
*allowSendEvents: true
*imLocale: en_US.UTF-8
*intensityStyles: true
xterm*loginShell: true
xterm*savelines: 16384
! Font Rendering Stuffs
Xft.dpi: 96
Xft.rgba: rgb
Xft.antialias: true
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

XClock*Background: #32302f
XClock*Foreground: #ebdbb2

Xcursor.size: 16
Xcursor.theme: Capitaine Cursors (Gruvbox) - White

*faceName: Spleen
*faceSize: 12

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

*.activeBackground: #1d2021
*.activeForeground: #32302f
